<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <section name="Recipients" type="KaktusWatch.RecipientsSection, KaktusWatch" requirePermission="false" />
  </configSections>
  <Recipients>
    <Addresses>
      <add address="m.hanzl1993@gmail.com" />
      <add address="hunaiz123456@gmail.com" />
      <add address="kain@technet.ms" />
    </Addresses>
  </Recipients>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>


  <appSettings>
    <add key="triggerInterval" value="60" />
  </appSettings>
  
</configuration>